<div class="app-layout">
  <app-navbar></app-navbar>

  <main class="main-content">
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer class="app-footer">
    <div class="footer-container">
      <div class="footer-brand">
        <span class="brand-name">MicroStore</span>
        <span class="footer-copy tracking-wide transition-all">Enterprise Microservices Architecture with Spring Boot 4.0.8, Keycloak 26 & Angular 21</span>
      </div>
    </div>
  </footer>

  <app-cart-drawer></app-cart-drawer>
  <app-toast></app-toast>
  <app-qr-scanner-modal></app-qr-scanner-modal>
</div>
